{% extends 'base.html' %}
{% block style %}

{% endblock style %}
{% block message %}
    {% if status %}
        {% include 'includes/message.html' %}
    {% endif %}
{% endblock message %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 mt-3 text-center">
                <div class="row">
                    <div class="col-3">
                        <div class="btn btn-danger" id="delete_all">Удалить данные</div>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-info" href="{% url 'excel_dump' %}">Экспорт в Excel</a>
                    </div>
                    <div class="col-3">
{#                        <form action="{% url 'password_cp_upload' %}" method="post" enctype="multipart/form-data">#}
{#                            {% csrf_token %}#}
{#                            <input type="file" style="display: none" name="file" id="file_password" onchange="this.form.submit()">#}
{#                            <label for="file_password" class="btn btn-warning">Пароли КП</label>#}
{#                        </form>#}
                        <a class="btn btn-warning" href="{% url 'cpp' %}">добавить кп</a>
                    </div>
                    <div class="col-3">
                        <form action="{% url 'name_upload' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" style="display: none" name="file" id="file_name" onchange="this.form.submit()">
                            <label for="file_name" class="btn btn-success">Имена бегунов</label>
                        </form>
                    </div>
                    <div class="col-3 offset-2 mt-4 mb-2">
                        <a href="{% url 'review-result' %}" class="btn btn-primary">Обновить результаты</a>
                    </div>
                    <div class="col-3 offset-2 mt-4 mb-2">
                        <a href="{% url 'delete-result' %}" class="btn btn-danger">Удалить результаты</a>
                    </div>
                </div>
            </div>
            {% include 'includes/results.html' %}
{#            <div class="col-12">#}
{#                <table class="table mt-3">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>#}
{#                            Number#}
{#                        </th>#}
{#                        {% for col in colums %}#}
{#                            <th>#}
{#                                {{ col.name }}#}
{#                            </th>#}
{#                        {% endfor %}#}
{#                    </tr>#}
{#                    </thead>#}
{#                <tbody>#}
{#                    {% for run in runer %}#}
{#                        <tr>#}
{#                        <td>#}
{#                            {{ run.number }}#}
{#                        </td>#}
{#                        {% for col in colums %}#}
{#                            <td>{%  d_v_date run col.id %}</td>#}
{#                        {% endfor %}#}
{#                        </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#                </table>#}
{#            </div>#}
        </div>
    </div>
{% endblock content %}
{% block script %}
$(function () {
            $('#delete_all').click(function () {
                let x = confirm('удалить все данные?')
                if (x) {
                    location.href = '{% url 'delete_cpp' %}'
                } else {
                    console.log('cancel')
                }
            })
        })
{% endblock script %}